@model IEnumerable<BanSachOnlineConnection.Sach>

<div class="row">
    @foreach (var item in Model.Take(6))
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <a href='@Url.Action("Details", "Home", new { id = item.recID })'>
                    <img src='@Url.Content(@item.TrangBia)' />
                </a>

                <div class="caption">

                    <h4 class="pull-right">$@item.Gia</h4>
                    <h4>
                        <a>@Html.ActionLink(item.Ten, "Details", new { id = item.recID })</a>
                    </h4>

                    <p>@item.NoiDung</p>

                </div>

            </div>
        </div>
    }

</div>


