@model DTO.KimGoEun

@{
    ViewBag.Title = "CheckOut";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                @Model.DonHang.FirstOrDefault().DonHang.Ngay_DonHang ,don Hang cua khach hang @Model.DonHang.FirstOrDefault().TaiKhoan.TenKhachHang_TaiKhoan
            </div>
            <div class="panel-body">
                @foreach (var item in Model.DonHang)
                {
                    <p>Ten Sach: @item.Sach.Sach.Ten_Sach</p>
                    <p>So luong: x @item.DonHangChiTiet.SoLuong_DonHangChiTiet</p>
                    <p>Tinh trang don hang: @item.TinhTrang.Ten_TinhTrang</p>
                    <hr />
                }
            </div>
            <div class="panel-footer">
                Tong tien = @Model.DonHang.FirstOrDefault().DonHang.DonGia_DonHang
            </div>
        </div>
    </div>    
</div>