@*@model DTO.ChiTietGioHang

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index gio hang</h2>

    @Model.GioHang.ID_GioHang<br />
    @Model.Sach.Ten_Sach<br />
    @Model.GioHang.SoLuong_GioHang<br />
    @Model.TaiKhoan.TenKhachHang_TaiKhoan<br />*@

@model DTO.KimGoEun

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Gio hang cua @Model.dsctGioHang.FirstOrDefault().TaiKhoan.TenKhachHang_TaiKhoan
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Trang Bia</th>
                                <th>Ten Sach</th>
                                <th>So Luong</th>
                                <th>Chuc Nang</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.dsctGioHang)
                        {
                            <tbody>
                                @using (Html.BeginForm("Update", "Cart", FormMethod.Post))
                                {
                                    <tr>
                                        @Html.Hidden("ID_Sach", item.Sach.ID_Sach)
                                        @Html.AntiForgeryToken()
                                        <td>
                                            <a href='@Url.Action("Details", "Product", new { id = item.Sach.ID_Sach })'>
                                                <img class="img-responsive" src='@Url.Content(@item.Sach.TrangBia_Sach)' />
                                            </a>
                                        </td>
                                        <td>@Html.ActionLink(@item.Sach.Ten_Sach, "Details", "Product", new { id = item.Sach.ID_Sach }, null)</td>
                                        <td><input name="soluong" value="@item.SoLuong" type="text" class="form-control" /></td>
                                        <td><input type="submit" value="cap nhat" class="btn btn-success" /></td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        @{
            decimal tong = 0;
        }
        @foreach (var item in Model.dsctGioHang)
        {
            tong = tong + item.GioHang.SoLuong_GioHang.GetValueOrDefault() * item.Sach.Gia_Sach.GetValueOrDefault();
        }
        Thanh tien = @tong        
    </div>
    
    <div class="col-lg-6">
        @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
        {
            @Html.Hidden("tong", tong)
            <button type="submit" class="btn btn-outline btn-success fa fa-thumbs-up">THANH TOAN</button>
        }
    </div>     
</div>
<br />
<br /><br />