@model DTO.ChiTietSach

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="panel panel-green">
        <div class="panel-heading">
            @Model.Sach.Ten_Sach
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="@Model.Sach.TrangBia_Sach" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="caption-full">
                        <h4 class="pull-right">$@Model.Sach.Gia_Sach</h4>
                        <h4>
                            <a>@Model.Sach.Ten_Sach</a>
                        </h4>

                        <p>Noi dung: @Model.Sach.NoiDung_Sach</p>
                        <p>Tac Gia: @Html.ActionLink(Model.TacGia.Ten_TacGia, "Author", new { id = Model.TacGia.ID_TacGia })</p>
                        <p>
                            The Loai: @{
                                foreach (var item in Model.TheLoai)
                                {
                                    <a>@Html.ActionLink(item.Ten_TheLoai, "Genre", new { id = item.ID_TheLoai })</a>
                                }
                            }
                        </p>
                        <p>Series: @Html.ActionLink(Model.Series.Ten_Series, "Series", new { id = Model.Series.ID_Series })</p>
                        <p>Nha Xuat Ban: @Html.ActionLink(Model.NhaXuatBan.Ten_NhaXuatBan, "Publisher", new { id = Model.NhaXuatBan.ID_NhaXuatBan })</p>
                        <p>Ngay Xuan Ban: @Model.Sach.NgayXuatBan_Sach</p>
                        <p>Giao hang trong: @Html.ActionLink(Model.AvailableShippingDate.Ten_AvailableShippingDate, "AvailableShippingDate", new { id = Model.AvailableShippingDate.ID_AvailableShippingDate })</p>
                        <p>Luot xem: @Model.Sach.LuotXem_Sach</p>
                    </div>

                    @*@using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                        {
                            @Html.Hidden("ID_Sach", Model.Sach.ID_Sach);
                            <button type="submit" class="btn btn-outline btn-success fa fa-shopping-cart">THEM VAO GIO HANG</button>
                        }*@

                    @*@Html.ActionLink("index cart", "Index", "Cart")*@

                    

                </div>
            </div>

            @Html.Action("Index", "Relate", new { ID_Sach = Model.Sach.ID_Sach })

        </div>

        @*<div class="well">
                <h4>Binh Luan</h4>
                <div class="form-group">
                    @using (Html.BeginForm("Create", "Review", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ID_Sach", Model.Sach.ID_Sach)
                        @Html.TextArea("NoiDung", new { @class = "form-control", @rows = "3" })

                        <div class="text-right">
                            <input type="submit" class="btn btn-success" value="Dang binh luan" />
                        </div>
                    }
                </div>
                <hr>

                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <p>@item.NoiDung_BinhLuan</p>
                        </div>
                    </div>
                    <hr>
                }
            </div>*@

        @Html.Action("Index", "Review", new { ID_Sach = Model.Sach.ID_Sach });

    </div>
</div>

@*@model BanSachOnline_1460372.Models.ShowModel.SachShowModel

    @{
        ViewBag.Title = "Details";
    }

    @Html.ActionLink(Model.TacGia.Ten_TacGia, "Author", new { id = Model.TacGia.ID_TacGia })



    <h2>@Model.Sach.Ten_Sach</h2>
    <h2>@Model.Sach.Gia_Sach</h2>
    <h2>@Model.Sach.NoiDung_Sach</h2>*@



