@model IEnumerable<BanSachOnlineConnection.Series>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row carousel-holder">
            <div id="carousel-banner" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-banner" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <a href='@Url.Action("Series", "Product", new { id = 1 })'>
                            <img class="slide-image" src="~/Content/Image/Book/Banner/b001.png" />
                        </a>
                    </div>

                    <div class="item">
                        <a href='@Url.Action("Series", "Product", new { id = 2 })'>
                            <img class="slide-image" src="~/Content/Image/Book/Banner/b002.png" />
                        </a>
                    </div>

                    @*@foreach (var item in Model.Take(1))
                        {
                            <a href='@Url.Action("Author", "Product", new { id = item.ID_Series })'>
                                <img class="slide-image" src="@Url.Content(@item.Banner_Series)" />
                            </a>
                        }*@
                </div>
                <a class="left carousel-control" href="#carousel-banner" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-banner" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="row">
    @*@foreach (var item in Model.Take(6))*@
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <a href='@Url.Action("Series", "Product", new { id = item.ID_Series })'>
                    <img src='@Url.Content(@item.TrangBia_Series)' />
                </a>

                <div class="caption">
                    <h4 class="pull-right">$@item.Gia_Series</h4>
                    <h4>
                        <a>@Html.ActionLink(item.Ten_Series, "Series", new { id = item.ID_Series })</a>
                    </h4>
                    <p>@item.NoiDung_Series</p>
                </div>

            </div>
        </div>
    }
</div>



